* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Ubuntu", sans-serif;
}

/* ====================
NavBar
==================== */

/* ### Header ### */

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.17), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  color: #212529;
}

.logo {
  text-decoration: none;
  font-size: 2.25rem;
  color: inherit;
  margin-right: 20px;
}

.nav-area {
  background-color: white;
  display: flex;
  /* max-width: 1200px; */
  padding: 10px 40px;
  /* margin: 0 auto; */
}

/* ### Navbar ### */
nav {
  display: flex;
  align-items: center;
}

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.menu-items {
  position: relative;
  font-size: 1.5rem;
}
/* .menu-items a {
  display: block;
} */

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  padding: 0.7rem 1rem;
}

.menu-items > a {
  display: block;
  font-size: 0.875rem;
  text-align: left;
  color: inherit;
  padding: 0.7rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
  width: 100%;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

/* ### Dropdown ### */
.dropdown {
  position: absolute;
  right: auto;
  left: 0;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
  padding: 0;
}

/* ====================
CardsGrid
==================== */

.cards__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 60%;
  margin: 0 auto;
  padding-top: 1rem;
}

/* ====================
Card
==================== */

/* ### Card Container ### */

.card {
  position: relative;
  transition: 0.3s;
  max-width: 400px;
  min-width: 300px;
  background: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
}

.card:hover .mission__details {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  width: 100%;
  height: 100%;
}

.mission__details {
  display: block;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 3rem 8%;
  background-color: #fff;
  overflow-y: scroll;
  transition: 0.8s ease;
}

.card__image {
  margin: 2.5rem 1rem;
  position: relative;
}

.card__image > img {
  opacity: 0.8;
  width: 100%;
  border-radius: 6px;
}

.status.success {
  background-color: green;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0 6px 0 6px;
}
.status.failed {
  background-color: red;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0 6px 0 6px;
}
.status.upcoming {
  background-color: blue;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0 6px 0 6px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 0.5rem;
}

.launch__details {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.date,
.address {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1rem;
}

.address {
  margin-bottom: 2rem;
}

.date__icon,
.address__icon {
  width: 30px;
}

/* ### Card Detail Hover ### */

.details__header {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.launchpad__detail__status {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 0;
  background-color: whitesmoke;
}

.details__content {
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* ============================================================
Landing Page / Successful launches / failed Launches
============================================================ */

/* ====================
Rockets detail page
==================== */

.rocket {
  width: fit-content;
  margin: 0 auto;
  padding-top: 4rem;
}

.rocket__container {
  max-width: 840px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}
.rocket__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rocket__img > img {
  width: 500px;
}

.rocket__title {
  font-size: 2.5rem;
  padding: 1rem 2rem;
}

.rocket__info {
  width: fit-content;
  padding: 30px;
  background-color: whitesmoke;
  line-height: 1.5rem;
}

.rocket__specs,
p {
  padding-top: 1rem;
}

/* ====================
Media Queries
==================== */
